<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id="co.pollapp"
    versionCode="1400"
    version="0.1.0.0">
   
    <name>PollApp</name>

    <description>
        PollApp es una aplicación móvil gratuita con la que podrás predecir con tus amigos los resultados de tus deportes favoritos.
     </description>

    <author href="http://pollapp.co/" email="info@leadis.co">
        Lead IS Consulting
    </author>

    <preference name="phonegap-version" value="cli-5.2.0" />
    <preference name="orientation" value="portrait" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>
    <preference name="android-windowSoftInputMode" value="adjustPan" />
	<preference name="android-launchMode" value="singleInstance" />
	<preference name="android-alwaysRetainTaskState" value="true" />

    <!-- Android icons -->
    <icon src="Resources/icons/android/36x36.png"  gap:platform="android" gap:density="ldpi" />
    <icon src="Resources/icons/android/48x48.png"  gap:platform="android" gap:density="mdpi" />
    <icon src="Resources/icons/android/72x72.png"  gap:platform="android" gap:density="hdpi" />
    <icon src="Resources/icons/android/96x96.png"  gap:platform="android" gap:density="xhdpi" /> 

    <!-- Android splashes -->
    <gap:splash src="Resources/splash/android/200x320.png"  gap:platform="android" gap:density="ldpi" />
    <gap:splash src="Resources/splash/android/320x480.png"  gap:platform="android" gap:density="mdpi" />
    <gap:splash src="Resources/splash/android/480x800.png"  gap:platform="android" gap:density="hdpi" />
    <gap:splash src="Resources/splash/android/720X1280.png" gap:platform="android" gap:density="xhdpi" />

    <access origin="*"/>
    <allow-intent href="http://*/*"/>
    <allow-intent href="https://*/*"/>

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>

</widget>